/* Colors for reference:
#f09
#60f
#90f
#eee
#ddd
#2e1c4a */

/*
##### GLOBAL STYLES #####
*/
/* Holds the content into a comfortable width for reading */
.container {
  max-width: 960px;
  margin: auto;
  padding: 0 15px;
  position: relative;
}

header {
  height: 100vh;
}

/* Hides navigation menu and social media icons for small screens */
nav,
#icon-bar {
  display: none;
  z-index: 2;
}

/*
##### SHOWCASE STYLES #####
*/
#showcase {
  height: 100vh;
  display: flex;
  align-items: center;
}

#title span {
  background-color: #2e1c4a;
  color: #f09;
  font-size: 6rem;
  line-height: 1.1;
  padding: 0 5px;
}

#brand {
  color: #2e1c4a;
  font-size: 2rem;
  font-weight: 400;
  margin: 1rem 0 6rem 0;
}

#brand span {
  color: #f09;
  font-weight: 400;
}

#cta {
  color: #f09;
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
  padding: 4px 20px;
  border: solid 1px #f09;
}